@import url('https://fonts.googleapis.com/css?family=Lato|Oswald:600');

/* font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif; */

body {
  font-family: 'Lato', sans-serif;
  background-color: lightgrey;
}

.title {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  margin: 30px;
}

.center {
  text-align: center;
}

.fixedWidth {
  width: 940px;
  height: auto;
}

.explanation {
  width: 940px;
  height: auto;
  margin-top: 60px;
  margin-bottom: -20px;
  padding: 0;
}

.explain {
  display: inline-block;
  width: 32%;
  margin: 0.25%;
  text-align: center;
}

#bibleExpl {
  width: 20%;
  padding-right: 5%;
  padding-left: 7%;
}

#centerExpl {
  width: 32%;
  font-size: 15px;
}

#gitaExpl {
  width: 20%;
  padding-left: 5%;
  padding-right: 7%;
}

li {
  margin: 5px;
}


a, a:visited, a:active {
  color: #444;
}

.container {
  width: 940px;
  margin: auto;
  padding: 20px;
  border: 2px solid darkgrey;
  background-color: white;
}

.button {
  min-width: 130px;
  padding: 4px 5px;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  border: 1px solid #e0e0e0;
  text-decoration: none;
}

.button.active {
  background: #000;
  color: #fff;
}


#vis {
  width: 940px;
  height: 600px;
  clear: both;
  margin-bottom: -30px;
}

#toolbar {
  margin-top: 10px;
}

#word-form{
  margin: auto;
  text-align: center;
  margin-top: 30px;
}

a {
  text-decoration: none;
}

#returnHome{
  color: black;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  height: auto;
  width: 100px;
  padding: 5px;
  font-size: 1.25em;
  margin-left: 30px;
}

#returnHome:hover {
  background-color: lightgrey;
}

.year {
  font-size: 21px;
  fill: #aaa;
  cursor: default;
}

.tooltip {
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
	border-radius: 5px;
  border: 2px solid #000;
  background: #fff;
	opacity: .9;
  color: black;
	padding: 10px;
	width: 300px;
	font-size: 12px;
	z-index: 10;
}

.tooltip .title {
	font-size: 13px;
}

.tooltip .name {
  font-weight:bold;
}

.footer {
  text-align: center;
}
